/** General Styles **/
html {
	min-height: 100%;
	position: relative;
}

body {
	margin-bottom: 50px;
	height: 100%;
	color: #fdfdfd;	
	font-family: "Karla", "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 23px;
}

p {
	margin: 0;
	padding: 0;
}

a, a:focus {
	color: #ffa669;
	text-decoration: none;
	outline: none;	
}

a:hover {
	color: #fdfdfd;
	text-decoration: none;	
}


/** Page Layout **/
section {
  height: 100%;
  min-height: 100vh;
}

.home_section {
	margin: 0;
	padding: 250px 50px 50px 50px;
	height: 100vh;
	background-color: #bcdcc4;	
}

.about_section {
	margin: 0;
	padding: 125px 0 200px 0;
	height: 100vh;
	background-color: #fdfdfd;	
}

.work_section {
	margin: 0;
	padding: 125px 0 200px 0;
	height: 100vh;
}

.component_lib {
	margin: 0;
	padding: 125px 0 200px 0;
	height: 100vh;
}

.contact_section {
	margin: 0;
	padding: 125px 0 200px 0;
	height: 100vh;
	background-color: ;
}

.cover {
	padding: 0 0 50px 100px;
}

.sidebar_left {
	position: relative;
	top: 250px;
	left: -160px;
	height: 50px;
	font-size: 16px;
	color: #ffa669;
	-ms-transform: rotate(270deg); 
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.sidebar_right {
	position: fixed;
	top: 300px;
	right: -15px;
	height: 50px;
	font-size: 16px;
	color: #ffa669;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg); 
  transform: rotate(90deg);
}

.footer {
	position: fixed; 
	bottom: 0;
	height: 50px;
	width: 100%;
	z-index: 15;
	overflow: hidden;
	background-color: transparent;
}


/** Navigation **/

#navigation {
	background-color: #bcdcc4;
	color: #fdfdfd;	
	border: none; 
}

#navbar {
	float: right;
	padding-top: 15px;
}

.navbar-nav li a {
	padding: 0 15px 0 15px;	
	color: #fdfdfd !important;
	font-size: 14px;
	font-family: "Roboto Mono", Monaco, monospace; 
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
}

.navbar-nav li a:hover {
	background-color: #bcdcc4 !important;
	color: #ffa669 !important;
	text-decoration: none;
}

.navbar-nav li a:focus {
	background-color: #bcdcc4 !important;
	color: #ffa669 !important;	
}

#name {
	padding: 15px 15px;
	height: 50px;
	float: left;
	font-size: 22px;
	line-height: 20px;
	letter-spacing: 3px;
	color: #fdfdfd !important;
}

a.navbar-brand:focus {
	text-decoration: none;
}

.navbar-default .navbar-toggle {
	border: none !important;
}

.navbar-default .navbar-header .navbar-toggle .glyphicon {
  background-color: transparent !important;
  color: #fdfdfd !important;
}

.navbar-default .navbar-toggle:focus, 
	.navbar-default .navbar-toggle:hover {
		background-color: transparent !important;
}

.navbar-default .navbar-collapse, 
	.navbar-default .navbar-form {
		border-color: #fdfdfd;
}

.navbar-default .navbar-nav > .active > a, 
	.navbar-default .navbar-nav > .active > a:focus, 
		.navbar-default .navbar-nav > .active > a:hover {
			background-color: transparent !important;
			color: #ffa669 !important;
}

@media(min-width:767px) {
    .navbar {
    	padding-top: 20px;
	    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
	    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
	    transition: background .5s ease-in-out, padding .5s ease-in-out;
    }

    .top-nav-collapse {
      padding: 5px 0 5px 0;
    }
}


/** Text Styles **/
h1 {
	margin: 0;
	padding: 0;
	font-size: 22px;
	letter-spacing: 3px;
}

h2 {
	color: #555555;
	font-size: 32px;
	letter-spacing: 1px;
}

h4 {
	color: #555555;
	font-size: 24px;
	font-weight: 400;
}

.cover_text {
	width: 615px;
	font-size: 32px;
	font-weight: 400;
	line-height: 40px;
}

.body_text {
	text-align: left;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	color: #555555;	
}

.dark {
	color: #555555;
}

.glyphicon {
	font-size: 22px;	
}

.page_scroll a {
	border: none;
	background-color: transparent !important;
	color: #ffa669;	
}

.page_scroll a:hover {
	color: #fdfdfd;	
}


/** Miscellaneous **/
.space {
	padding: 100px 0 100px 0;	
}

.centered {
	text-align: center;
}

.col-md-4 {
	text-align: center;	
}

.btn:active {
	background-image: none;
	outline: 0;
	color: #ffa669;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.btn:focus {
	color: #ffa669 !important;
}

.btn:hover {
	color: #fdfdfd;
}