/** General Styles **/
html, body {
	margin: 0;
	padding: 0;
	position: relative;
	color: #fdfdfd;	
	font-family: "Karla", "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 18px;
}

p {
	margin: 0;
	padding: 0;
}

a {
	color: #ffa669;
	text-decoration: none;	
}

a:hover {
	color: #fdfdfd;
	text-decoration: none;	
}


/** Page Layout **/
.home_section {
	margin: 0;
	padding: 250px 50px 50px 50px;
	height: 100vh;
	background-color: #bcdcc4;	
}

.about_section {
	margin: 0;
	padding: 125px 0 200px 0;
	height: 100vh;
	background-color: #fdfdfd;	
}

.work_section {
	margin: 0;
	padding: 0;
}

.component_lib {
	margin: 0;
	padding: 0;
}

.contact_section {
	margin: 0;
	padding: 0;
	height: 100vh;
}

.cover {
	padding: 0 0 50px 100px;
}


/** Navigation **/
.navbar {
	margin: 0 auto;
	padding: 40px 0 40px 0;
	background-color: #bcdcc4;
	color: #fdfdfd;	
	border: none; 
}

.navigation {
	margin: 0;
	padding: 5px 0 0 100px;
	width: 50%;
	float: right;
}

.navbar-nav li a {
	padding: 0 15px 0 15px;	
	color: #fdfdfd !important;
	font-size: 14px;
	font-family: "Roboto Mono", Monaco, monospace; 
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
}

.navbar-nav li a:hover {
	background-color: #bcdcc4 !important;
	color: #ffa669 !important;
	text-decoration: none;
}

.navbar-nav li a:focus {
	background-color: #bcdcc4 !important;
	color: #ffa669 !important;	
}

@media(min-width:767px) {
    .navbar {
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 10px 0 10px 0;
    }
}


/** Text Styles **/
h1 {
	margin: 0;
	padding: 0;
	font-size: 22px;
	letter-spacing: 3px;
}

h2 {
	color: #555555;
	letter-spacing: 1px;
	font-size: 32px;
}

.name {
	margin: 0;
	padding: 5px 0 0 15px;
	float: left;
	width: 50%;
}

.cover_text {
	width: 615px;
	font-size: 32px;
	font-weight: 400;
	line-height: 40px;
}

.about_text {
	text-align: left;
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
	color: #555555;	
}

.glyphicon {
	font-size: 22px;	
}

.page_scroll a {
	border: none;
	background-color: #bcdcc4;
	color: #ffa669;	
}

.page_scroll a:hover {
	color: #fdfdfd;	
}


/** Miscellaneous **/
.space {
	padding: 100px 0 100px 0;	
}

.centered {
	text-align: center;
}

.col-md-4 {
	text-align: center;	
}

.btn:active {
	background-image: none;
	outline: 0;
	color: #ffa669;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

/* *:focus {
	background-color: #bcdcc4 !important;
	color: #ffa669 !important;
	background-image: none;
  outline: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
         	box-shadow: none;
} */
