/** General Styles **/
html {
	position: relative;
}

body {
	min-height: 100%;
	margin-bottom: 50px;
	color: #555555;	
	font-family: "Karla", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
	line-height: 22px;
}

p {
	margin: 0;
	padding: 0;
	font-weight: 400;
}

a, a:focus {
	color: #ffa669;
	text-decoration: none;
	outline: none;	
}

a:hover {
	color: #ffffff;
	text-decoration: none;	
}


/** Page Layout **/
section {
  height: auto;
  min-height: 100%;
  min-height: 100vh;
}

.container {
	padding-left: 30px;
	padding-right: 30px;
}

.home_section {
	margin: 0;
	padding: 250px 0 50px 0;
	overflow: hidden;
	background-color: #cef1ce;
	text-align: center;
}

.about_section {
	margin: 0;
	padding: 200px 0 200px 0;
	background-color: #ffffff;	
}

.work_section {
	margin: 0;
	padding: 125px 0 200px 0;
}

.component_lib {
	margin: 0;
	padding: 125px 0 200px 0;
	background-color: #ffffff;
}

.contact_section {
	margin: 0;
	padding-top: 200px;
	padding-bottom: 25px;
}

.footer {
	position: fixed; 
	bottom: 0;
	height: 50px;
	width: 100%;
	z-index: 15;
	overflow: hidden;
	background-color: transparent;
}


/** Navigation **/

#navigation {
	background-color: #cef1ce;
	color: #ffffff;	
	border: none; 
}

#navbar {
	float: right;
	padding-top: 15px;
}

.navbar-nav li a {
	padding: 0 15px 0 15px;	
	font-size: 14px;
	font-family: "Roboto Mono", Monaco, monospace; 
	font-weight: 400;
	letter-spacing: 1px;
	text-decoration: none;
}
.navbar-default .navbar-nav>li>a {
	color: #ffffff;
}

.dark_nav {
	color: #555555 !important;
}

.navbar-nav li a:hover {
	background-color: transparent !important;
	color: #ffa669 !important;
	text-decoration: none;
}

.navbar-nav li a:focus {
	background-color: transparent !important;
	color: #ffa669 !important;	
}

a.navbar-brand:focus {
	text-decoration: none;
}

.navbar-default .navbar-toggle {
	border: none !important;
}

.navbar-default .navbar-header .navbar-toggle .glyphicon {
  background-color: transparent !important;
  color: #ffa669 !important;
}

.navbar-default .navbar-toggle:focus, 
	.navbar-default .navbar-toggle:hover {
		background-color: transparent !important;
}

.navbar-default .navbar-collapse, 
	.navbar-default .navbar-form {
		border-color: #ffffff;
}

.navbar-default .navbar-nav > .active > a, 
	.navbar-default .navbar-nav > .active > a:focus, 
		.navbar-default .navbar-nav > .active > a:hover {
			background-color: transparent !important;
			color: #ffa669 !important;
}

.navbar-default .navbar-collapse {
	padding: 2px;
}

@media(min-width:767px) {
    .navbar {
    	padding-top: 20px;
    	padding-bottom: 20px;
	    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
	    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
	    transition: background .5s ease-in-out, padding .5s ease-in-out;
    }

    .top-nav-collapse {
      padding: 5px 0 5px 0;
      color: #555555;
    }
}

.dark_menu {
	color: #555555;
}

/** Text Styles **/

h1 {
	margin: 0;
	padding: 0;
	font-size: 32px;
	font-weight: 400;
	line-height: 40px;
}

h4 {
	color: #555555;
	font-size: 22px;
	font-weight: 400;
}

.hero {
	color: #ffffff;
	text-align: left;
}

#name {
	padding: 15px 15px;
	height: 50px;
	float: left;
	font-size: 22px;
	line-height: 20px;
	letter-spacing: 3px;
}

/** Ensure this works **/
@media only screen and (max-device-width: 480px) {
	.cover_text {
		font-size: 20px;
		line-height: 28px;
	}
}

.dark {
	color: #555555;
}

.glyphicon {
	font-size: 22px;	
}

.page_scroll a {
	border: none;
	background-color: transparent !important;
}

.page_scroll a:hover {
	color: #ffffff;	
}

.scroll_up {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

a#name.page-scroll, a:focus#name.page-scroll {
	color: #ffffff;
}

a:hover#name.page-scroll {
	color: #ffa669;
}


/** Contact Form **/
input[type="text"], input[type="email"] {
	margin-bottom: 5px;
	padding-left: 1px;
	height: 50px;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #555555;
	outline: none;
  -moz-box-shadow: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;	
}

input[type="text"]:focus, input[type="email"]:focus {
  border-color: #555555;
  -moz-box-shadow: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

button[type="submit"] {
	padding: 10px 25px 10px 25px;
	background-color: #ffffff;
	color: #555555;
	border: 2px solid #555555;
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

button[type="submit"]:hover {
	color: #ffffff;
	background-color: #ffa669;
	border: 2px solid #ffffff;
}


/** Miscellaneous **/
.space {
	padding: 100px 0 100px 0;	
}

.centered {
	text-align: center;
}

.btn:active {
	background-image: none;
	outline: 0;
	color: #ffa669;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.btn:focus {
	color: #ffa669 !important;
}

.btn:hover {
	color: #ffffff;
}

.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
  -moz-box-shadow: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
  outline: none;
  border: none;
}

.social_media {
	padding: 0 15px 0 15px;
}
